node_modules
npm-debug.log
vendor
.git
.gitignore
.gitattributes
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
docker-compose.override.yml
.DS_Store
Thumbs.db
*.log
storage/logs/*.log
bootstrap/cache/*.php
.vercelignore
vercel.json
api/
